.features-inner {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-card {
  background: #fff;
  padding-inline: 0;
  flex-basis: calc((100% - 72px) / 4);
  min-width: 264px;
  width: 100%;
  min-width: 0;
}

.feature-icon-wrap {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
}

.feature-icon {
  fill: var(--navy-blue);
}

.feature-title {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.feature-text {
  margin: 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .features-inner {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .feature-card {
    width: calc((100% - 24px) / 2);
  }
}


@media (min-width: 1158px) {
  .features-inner {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .feature-card {
    width: calc((100% - 72px) / 4);
  }

  .feature-icon-wrap {
    display: flex;
  }
}