.features-inner {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-card {
  background: #fff;
  padding-inline: 0;
  flex-basis: calc((100% - 72px) / 4);
  min-width: 264px;
  width: 100%;
  min-width: 0;
}

.feature-icon-wrap {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
}

.feature-icon {
  fill: var(--navy-blue);
}

.feature-title {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

.feature-text {
  margin: 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media (min-width: 768px) {
  .features-inner {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .feature-card {
    width: calc((100% - 24px) / 2);
  }

  .feature-title {
    text-align: left;
  }
}


@media (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }

  .features-inner {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .feature-card {
    width: calc((100% - 72px) / 4);
  }

  .feature-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }

  .feature-text {
    font-weight: 400;
  }

  .feature-icon-wrap {
    display: flex;
  }
}