.features-inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.feature-card {
  padding-inline: 0px;
  flex-basis: calc((100% - 72px) / 4);
  min-width: 264px;

}


@media (min-width: 768px) {
  /* Tablet */
}

@media (min-width: 1158px) {
  /* Desktop */
}

/* Тільки для планшета */
@media (min-width: 768px) and (max-width: 1157px) {
  /* специфічні планшетні стилі */
}