.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
  min-width: 280px;
}


@media (min-width: 768px) {
  /* Tablet */
}

@media (min-width: 1158px) {
  /* Desktop */
}

/* Тільки для планшета */
@media (min-width: 768px) and (max-width: 1157px) {
  /* специфічні планшетні стилі */
}