.team {
  background-color: #f4f4fd;
}

.team .section-title {
  text-align: center;
  letter-spacing: 0.02em;
}

.team-card {
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  overflow: hidden;
  flex-basis: auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 264px;
}


.team-card img.team-photo {
  display: block;
  width: 264px;
  height: 260px;
  margin: 0;
  object-fit: cover;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}


.team-info {
  padding: 32px 16px;
}

.team-name {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team-role {
  margin-bottom: 8px;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


@media (min-width: 768px) {
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media (min-width: 1158px) {
  .team-list {
    row-gap: 0;
  }
}
